* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

div.screen-user img,
div.view-commands img {
    height: 100%;
}

div.view-commands {
    height: 1.5rem;
    width: 11rem;
    position: fixed;
    top: 1vh;
    right: 1vw;
}

div.view-commands img {
    display: inline-block;
    background-color: #4a4a4a;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

div.view-commands span {
    font-size: 0.9rem;
    background-color: #4a4a4a;
    color: white;
    padding: 0.3rem 0.3rem;
    margin-right: 0.5rem;
    text-align: center;
    border-radius: 0.4rem;
}


.container {
    position: relative;
}

.user-screen-icons {
    position: absolute;
    bottom: 2rem;
    left: 0;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

